ul li{
	list-style: none;
}
button{
	background-color: green;
	border-radius: 5px;
	border: none;
	padding: 10px;
	display: inline-block;
	margin: 30px;
	margin-top: 100px;
	width: 100px;
	font-size: 16px;
	}

li:nth-child(1) button{
	-webkit-animation: resize 2s 250 linear alternate, changeColor 2s infinite ease-in-out;
}

li:nth-child(2) button{
	-webkit-animation: slidein 3s infinite linear, changeColor 1s infinite linear alternate, resize 2s infinite linear alternate, rotateX 2s infinite linear;
}

li:nth-child(3) button{
	-webkit-animation: rotate 4s infinite linear, changeColor 4s infinite ease-in-out, rotateX 3s infinite linear;
}

li:nth-child(4) button{
	-webkit-animation: resize 1s 10 linear alternate-reverse, rotate 1s infinite linear, changeColor 1s infinite linear reverse, changeBorder 1s 40 linear;
}

li:nth-child(5) button{
	-webkit-animation: changeFont 5s infinite ease alternate-reverse, rotate 1s infinite linear alternate, changeColor 2s infinite linear;
}

li:nth-child(6) button{
	-webkit-animation: slidein 2s 10 alternate-reverse, rotate 2s infinite linear;
}

li:nth-child(7) button{
	-webkit-animation: resize 1.5s infinite ease alternate-reverse, rotateY 1s infinite ease-in;
}

li:nth-child(8) button{
	-webkit-animation: changeFont 2s infinite linear alternate, changeColor 0.5s infinite linear alternate;
}

@keyframes resize {
	0%{
		width: 200px;
		height: 100px;
		padding: 0;
	}
	12% {
		width: 248px;
		height: 124px;
		padding: 50px;
	}
	
	25%{
		width: 296px;
		height: 148px;
		padding: 100px;
	}
		
	50% { 
		width: 344px;
		height: 172px;
		padding: 150px;
	}
	75% {
		width: 392px;
		height: 196px;
		padding: 200px;
	}
	
	100%{
		width: 440px;
		height: 220px;
		padding: 250px;
	}
}

@keyframes changeColor {
	0%{
		background: green;
		color: white;
	}
	
	25%{
		background: blue; 
		color: yellow;
	}
	
	37%{
		background: red; 
		color: green; 
	}
	
	50%{
		background: yellow; 
		color: blue; 
	}
	
	62%{
		background: red; 
		color: green;
	}
	
	75% {
		background: blue; 
		color: yellow; 
	}
	
	100%{
		background: green;
		color: white;
	}
}

@keyframes rotate {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

@keyframes rotateX {
	from {transform: rotateX(0deg);}
	to {transform: rotateX(360deg);}
}

@keyframes rotateY {
	from {transform: rotateY(0deg);}
	to {transform: rotateY(360deg);}
}

@keyframes slidein {
	0% {
		margin-left: 0;
		width: 300px;
	}
	
	33% {
		margin-left: 120%; 
		width: 100px;
	}	
	50% {
		margin-left: 0;
		width: 300px;
	}
	66% {
		margin-left: -120%;
		width: 100px;
	}
	100% {
		margin-left0;
		width: 300px;
	}
}

@keyframes changeFont {
	0%{
		font-size: 1em;
		font-family: Georgia, serif
	}
	
	25%{
		font-size: 1.25em;
		font-family: Impact, Charcoal, sans-serif;
	}
	
	50%{
		font-size: 1.5em;
		font-family: "Comic Sans MS", cursive, sans-serif;
	}
	
	75%{
		font-size: 1.75em;
		font-family: "Courier New", Courier, monospace;
	}
	
	100%{
		font-size: 2em;
		font-family: "Times New Roman", Times, serif;
	}
}

@keyframes changeBorder {
	0%{border-radius: 0px;}
	50%{border-radius: 300px;}
	100%{border-radius: 0px;}
}